<div class="section footer">
    <div class="footer_buttons">
        <a class="footer_button" href="despre" data-i18n="about"></a>
        <a class="footer_button" href="datelazi-covid19-md" data-i18n="stats"></a>
        <a class="footer_button" href="simptome" data-i18n="symptoms"></a>
        <a class="footer_button" href="recomandari" data-i18n="recommendation"></a>
        <a class="footer_button" href="covid19" data-i18n="q-and-a"></a>
        <a class="footer_button" href="juridic" data-i18n="juridic"></a>
    </div>
    <div class="created_by">
        <span data-i18n="created-with"></span> <span class="heart">&#9825;</span> <span data-i18n="de-c4md"></span>
    </div>
    <div class="copyright">
        &#169; <span data-i18n="copyright"></span>
    </div>
</div>