<div class="section intro flex middle">
    <div class="container">
        <div class="intro_content">
            <dev class="title-container">
                <dev class="title" data-i18n="information-center"></dev>
                <a href='/'>
                    <div class="info_url" data-i18n="coronavirus-moldova">
                    </div>
                </a>
            </dev>

            <div class="header_buttons">
                <a class="header_button" href="despre" data-i18n="about"></a>
                <a class="header_button" href="recomandari" data-i18n="recommendation"></a>
                <a class="header_button" href="simptome" data-i18n="symptoms"></a>
                <a class="header_button" href="covid19" data-i18n="q-and-a"></a>
                <a class="header_button" href="juridic" data-i18n="juridic"></a>
            </div>
        </div>
    </div>
</div>