<div class="likely row social_media">
    <div class="linkedin">Link</div>
    <div class="twitter">Tweet</div>
    <div class="facebook">Share</div>
    <div class="vkontakte">Share</div>
    <div class="odnoklassniki">Class</div>
    <div class="telegram">Send</div>
    <div class="whatsapp">Send</div>
</div>