<title>{{ title ]}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic-ext,latin-ext" rel="stylesheet">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160623102-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160623102-1');
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="module" src="newdesign/js/js.cookie.min.js"></script>
<script src="newdesign/js/jquery.i18n.js"></script>
<script src="newdesign/js/jquery.i18n.messagestore.js"></script>
<script src="newdesign/js/jquery.i18n.fallbacks.js"></script>
<script src="newdesign/js/jquery.i18n.parser.js"></script>
<script src="newdesign/js/jquery.i18n.emitter.js"></script>
<script src="newdesign/js/jquery.i18n.language.js"></script>
<script src="newdesign/js/likely.min.js"></script>
<link rel="stylesheet" href="newdesign/css/likely.min.css">