<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main2.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <div id="header" class="header">
        <div class="header_main flex middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="infoline">
                            <span class="info_row">
                                <span class="info_row" data-i18n="contact-numbers">
                                </span><a href="tel:112" class="badge white" title="Apeleaza">112</a>
                                <span data-i18n="ambulanta">
                                </span>
                            </span>
                            <span class="info_row">
                                <a href="tel:0 800 12300" class="badge green" title="Apeleaza">0 800 12300</a> "<span data-i18n="green-line"></span>"
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="langs">
                            <a href="#" id="language"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section intro flex middle">
        <div class="container">
            <div class="intro_content">
                <a href='/'>
                    <h1 data-i18n="information-center"></h1>

                    <h2 data-i18n="coronavirus-moldova"></h2>

                    <div class="info_url">
                        INFO.C19.MD
                    </div>
                </a>
                <div class="numbers flex middle justify responsive">
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value infectate"></span>
                            </div>
                            <div>
                                <span class="num_desc "><span data-i18n="num-infect-first-word"></span> <br> <span data-i18n="num-infect-second-word"> </span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value suspecte">43</span>
                            </div>
                            <div>
                                <span class="num_desc">
                                    <span data-i18n="num-suspect-first-word">
                                    </span>
                                    <br>
                                    <span data-i18n="num-suspect-second-word">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value monitorzare">11238</span>
                            </div>
                            <div>
                                <span class="num_desc">
                                    <span data-i18n="num-pers-monitor-at-home-first-part-of-phrase"></span>
                                    <br>
                                    <span data-i18n="num-pers-monitor-at-home-first-second-part-of-phrase">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="call_to_action">
                    <a href="datelazi-covid19-md" class="tap white view-progress">
                        <img class="statistics-icon" src="newdesign/images/statistics.png"/>
                        <span data-i18n="show-progress-of-virus" />
                    </a>

                </div>
    			<!-- <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="push_message()">Test Push Notification</button> -->

                <div style="margin-top: 30px;">
                    <p>
                        <span data-i18n="act"></span><span id='dataup'></span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="symptoms">
                </h2>
            </div>

            <div class="clearfix sim_wrap">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s1.svg" alt=""></div>
                            <div class="sim_title" data-i18n="temp-of-body"></div>
                            <div class="sim_desc" data-i18n="freq-common"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s2.svg" alt=""></div>
                            <div class="sim_title" data-i18n="dry-cough"></div>
                            <div class="sim_desc" data-i18n="dry-cough-percent">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s3.svg" alt=""></div>
                            <div class="sim_title" data-i18n="tiredness"></div>
                            <div class="sim_desc" data-i18n="tiredness-percent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call_to_action">
                <a href="simptome" class="tap" data-i18n="show-all-symptoms"></a>
            </div>
        </div>
    </div>
<div class="section rec">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="recommendation"></h2>
            </div>

            <div class="content">
                <h4 style="color:#f70000; margin-bottom:30px;" data-i18n="recs-auto"></h4>
                <div class="heading">
                    <h4 data-i18n="hygiene">
                    </h4>
                </div>
                <ol>
                    <li data-i18n="hygiene-recommendation-one"></li>
                    <li data-i18n="hygiene-recommendation-two"></li>
                    <li data-i18n="hygiene-recommendation-three"></li>
                </ol>
            </div>
            <div class="call_to_action">
                <a href="recomandari" class="tap" data-i18n="show-all-recommendation"></a>
            </div>
        </div>
    </div>

    <div class="section ask">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="q-and-a">
                </h2>
            </div>

            <div class="questions">

                <div class="question">
                    <h4 data-i18n="what-is-covid">
                    </h4>
                    <p data-i18n="what-is-covid-explication"></p>
                </div>

                <div class="question">
                    <h4 data-i18n="cum-se-raspandeste">
                    </h4>

                    <p data-i18n="cum-se-raspandeste-expl">

                    </p>
                </div>
                <div class="question">
                    <h4 data-i18n="risc-la-boala-cine-e"></h4>
                    <p data-i18n="risc-la-boala-cine-e-expl"></p>
                </div>

            </div>

            <div class="call_to_action">
                <a href="covid19" class="tap" data-i18n="show-all-questions"></a>
                <a href="https://forms.gle/MeapxYvZP1MeZHzA9" class="tap red" target="_blank" data-i18n="ask-a-question"></a>
            </div>
        </div>
    </div>
    <div class="section juridic">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="juridic-title">
                </h2>
            </div>
            <div class="questions">
                <div class="question">
                    <h4 data-i18n="parlament"></h4>
                    <ol>
                    <li><p><a href="https://www.legis.md/cautare/getResults?doc_id=120817&lang=ro" target="_blank" data-i18n="parlament1"></a></p></li>
                    <li><p><a href="https://www.legis.md/cautare/getResults?doc_id=120832&lang=ro" target="_blank" data-i18n="parlament2"></a></p></li>
                    </ol>
                </div>
            </div>
            <div class="call_to_action">
                <a href="juridic" class="tap" data-i18n="juridic-btn"></a>
            </div>    
        </div>
    </div>
    <div class="section team">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="team-of-project"></h2>
            </div>

            <div class="content">
                <span data-i18n="info1"></span>
                <a href='https://msmps.gov.md/' data-i18n="minister" target="_blank"></a>
                <a href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019' data-i18n="who" target="_blank"></a>
                <span data-i18n="info2"></span>
            </div>

            <div class="call_to_action">
                <!--<a href="https://forms.gle/xvFhSaqQuKQxVMAJ9" class="tap green" target="_blank">Vreau sa mă alătur</a>-->
                <a href="despre" class="tap" data-i18n="show-team"></a>
            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>

</body>
</html>
