<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/static-head'); -%>
</head>
    <%- include('../partials/header'); -%>

    <%- include('../partials/footer'); -%>
    <%- include('../partials/static-footer'); -%>
</body>
</html>
